input{
  border:2px solid black;
}

h1{
  color:black;
  font-family:"Comic Sans MS, Comic Sans, cursive";
}
h2{
  color:black;
  font-style=justify;
}
#info_aqi{
  margin-left:50px;
  color:black;
}
#info_dollard{
  margin-left:50px;
  color:black;
}
#info_pop{
  margin-left:50px;
  color:black;
}
#Lyon{
  background:url("/static/img/parquet1.jpg");
  margin:auto;
  height:350px;
  border:2px solid black;
  border-radius:80px;
}
#Paris{
  background:url("/static/img/parquet1.jpg");
  margin:auto;
  height:350px;
  border:2px solid black;
  border-radius:80px;
}
#Marseille{
  background:url("/static/img/parquet1.jpg");
  margin:auto;
  height:350px;
  border:2px solid black;
  border-radius:80px;
}
#separate{
   background:url("/static/img/parquet1.jpg");
}
span{
   color:black
}

#im12{
   width:200px;
   height:200px;
   margin-left:100px;
}
#im10{
   width:100px;
   height:100px;
   margin-left:50px;
}
#im11{
   width:100px;
   height:100px;
   margin-left:100px;
}


#cities{
  text-align:center;
}
#info1,
#info2,
#info3{
  display:none;
}

i{
    color:white;
}


@media screen and (min-width: 0px) and (max-width:374px) {
    #fb{
        font-size:50px;
        width:250px;
    }
    #tw{
        font-size:50px;
        width:250px;
    }
    #sn{
        font-size:50px;
        width:250px;
    }    
    .mb-4{
        font-size:5vw;     
    }
}

@media screen and (min-width: 374px) and (max-width:800px) {
    #fb{
        font-size:100px;
        width:300px;
    }
    #tw{
        font-size:100px;
        width:300px;
    }
    #sn{
        font-size:100px;
        width:300px;
    }    
    .mb-4{
        font-size:5vw;
    }
}


@media screen and (min-width: 800px) and (max-width:1000px) {
    #fb{
        font-size:100px;
        width:300px;
    }
    #tw{
        font-size:100px;
        width:300px;
    }
    #sn{
        font-size:100px;
        width:300px;
    }    
    .mb-4{
        font-size:3vw;
        
    }
}



@media screen and (min-width: 1000px) and (max-width:1500px) {
    #fb{
        font-size:100px;
        width:300px;
    }
    #tw{
        font-size:100px;
        width:300px;
    }
    #sn{
        font-size:100px;
        width:300px;

    }    
    .mb-4{
        font-size:2.5vw;
        
    }
}

@media screen and (min-width: 1501px){
    #fb{
        font-size:100px;
        width:300px;
    }
    #tw{
        font-size:100px;
        width:300px;
    }
    #sn{
        font-size:100px;
        width:300px;
        
    }    
    .mb-4{
        font-size:2.5vw;
        
    }
}

#notshut,
#shut{
    color:black;
}
#info_donnée{
    text-align:center;
}
#no_respon_paris,
#no_respon_lyon{
    display:none;
}

#separate{
    width:700px;
}

#texte1{
    width:500px;
    height:200px;
    float:right;
margin-right:-500px;
    }
#titre2{
    width:100px;
}




@media screen and (min-width: 320px) and (max-width:374px) {
  #MENU{
    display:none;
  }
  #logo{
    display:none;
  }
  #sec1{
    height:350px;
  }
  #info3{
    padding-top:40px;
  }
  #texte1{
    width:250px;
    float:left;
    margin-left:8%;
    color:black;
    text-shadow: 1px 1px black;
    word-wrap: break-word;
    height:auto;
    font-size:4vw;
    text-align:justify;
    font-size:4.5vw;
    
  }
  h1{
    font-size:6vw;
  }
  #les_info{
    padding-top:250px;
    font-size:4vw;
    text-align:center;


  }
  #section_ninja{
    float:none;
    text-align:center;

  }
  #row1{
    height:100%;
    text-align:center;
  }
  #Lyon{
    font-size:5vw;
  }
  #paris_pol{
    margin-top:-40px;
  }
  #Paris{
    font-size:5vw;
  }
  #Marseille{
    font-size:5vw;
  }
  .col-sm{
    font-size:4vw;
  }
  #cities{
    float:none;
  }
  input{
    font-size:5vw;
  }
  #info_donnée{
    font-size:4vw;
    color:white;
    text-shadow: 1px 1px black;
  }
  #separate{
    width:100%;
    float:none;
    margin-top:50px;
  } 
}



@media screen and (min-width: 375px) and (max-width:425px) {
  #MENU{
    display:none;
  }
  #logo{
    display:none;
  }
  #sec1{
    height:350px;
  }
  #info2,
  #info3,
  #info1{
    width:70%;
  }
  #info3{
    padding-top:40px;
  }
  #texte1{
    float:left;
    width:200px;
    margin-left:5%;
    color:black;
    text-shadow: 1px 1px black;
    font-size:5vw;
    width:90%;
    text-align:justify;
  }

  #les_info{
    font-size:4.5vw;
    padding-top:250px;

  }
  #section_ninja{
    float:none;
    float:clear;
    text-align:center;
    width:140%;
  }
  #row1{
    height:100%;
  }
  #lyon_pol{
    margin-top:-80px;
   
  }
  #Lyon{
    font-size:7vw;
    width:400px;
  }
  #paris_pol{
    margin-top:-80px;
  }
  #Paris{
    font-size:8vw;
    width:400px;
  }
  #marseille_pol{
    margin-top:-80px;
  }
  #Marseille{
    font-size:8vw;
    width:400px;
  }
  .col-sm{
    font-size:5vw;
  }
  #cities{
    float:none;
    width:140%;
    margin:auto;
  }
  input{
    font-size:5vw;
  }
  #info_donnée{
    font-size:4vw;
    color:white;
    text-shadow: 1px 1px black;
  }
  #separate{
    width:100%;
    float:none;
    margin-top:50px;
  }
  #reso{
    width:140%;
  }
}





@media screen and (min-width: 426px) and (max-width:575px) {
  #MENU{
    display:none;
  }
  #logo{
    display:none;
  }
  #sec1{
    height:350px;
  }
  #texte1{
    float:left;
    width:200px;
    margin-left:5%;
    color:black;
    text-shadow: 1px 1px black;
    font-size:3vw;
    width:90%;
  }
  #les_info{
    padding-top:100px;
    font-size:3vw;
  }
  #section_ninja{
    float:none;
    float:clear;
    text-align:center;
  }
  #row1{
    height:100%;
  }
  #cities{
    float:none;
  }
  input{
    font-size:3vw;
  }
  #info_donnée{
    font-size:3vw;
    color:white;
    text-shadow: 1px 1px black;
  }
  #separate{
    float:none;
    margin-top:50px;
    width:80%;
  }
  .col-sm{
    font-size:3vw;
  }
  #info3{
    padding-top:40px;
  }
  #lyon_pol{
    margin-top:-80px;
   
  }
  #Lyon{
    font-size:5vw;
    width:300px;
  }
  #paris_pol{
    margin-top:-80px;
  }
  #Paris{
    font-size:5vw;
    width:300px;
  }
  #marseille_pol{
    margin-top:-80px;
  }
  #Marseille{
    font-size:5vw;
    width:300px;
  }
  .col-sm{
    font-size:5vw;
  }

  
}



@media screen and (min-width: 576px) and (max-width:694px) {
  #MENU{
    display:none;
  }
  #logo{
    display:none;
  }
  #sec1{
    height:350px;
  }
  #texte1{
    float:left;
    width:300px;
    margin-left:5%;
    color:black;
    text-shadow: 1px 1px black;
    font-size:2vw;
  }
  h1{
    font-size:5vw;
  }
  #les_info{
    font-size:2.5vw;
    padding-top:150px;
  }
  #section_ninja{
    text-align:center;
  }
  input{
    font-size:2vw;
  }
  #info_donnée{
    font-size:2.5vw;
    color:white;
    text-shadow: 1px 1px black;
  }
  #separate{
    float:none;
    width:80%;
  }
  #info3{
    padding-top:40px;
  }
  
}






@media screen and (min-width: 695px) and (max-width:768px) {
  #MENU{
    display:none;
  }
  #logo{
    display:none;
  }
  #sec1{
    height:350px;
  }
  #texte1{
    float:left;
    width:500px;
    margin-left:5%;
    color:black;
    text-shadow: 1px 1px black;
    font-size:2vw;
  }
  #les_info{
    font-size:2vw;
    padding-top:150px;
  }
  #section_ninja{
    text-align:center;
  }
  input{
    font-size:2vw;
  }
  #info_donnée{
    font-size:2vw;
    color:white;
    text-shadow: 1px 1px black;
  }
  #separate{
    text-align:center;
    margin-top:50px;
    width:100%;
    
  }
  #h1{
    font-size:2vw;
  }
  #info3{
    padding-top:40px;
  }
}








@media screen and (min-width: 769px) and (max-width:866px) {
  #MENU{
    display:none;
  }
  #logo{
    display:none;
  }
  #sec1{
    height:350px;
  }
  #texte1{
    float:left;
    width:500px;
    margin-left:5%;
    color:black;
    text-shadow: 1px 1px black;
    font-size:2vw;
  }
  #les_info{
    font-size:2vw;
    padding-top:200px;
  }
  #section_ninja{
    float:none;
    float:clear;
    text-align:center;
  }
  input{
    font-size:1.5vw;
  }
  #info3{
    padding-top:40px;
  }
  #info_donnée{
    font-size:2.5vw;
    color:white;
    text-shadow: 1px 1px black;
    display:none;
  }
}





@media screen and (min-width: 866px) and (max-width:900px) {
  #MENU{
    display:none;
  }
  #logo{
    display:none;
  }
  #sec1{
    height:350px;
  }
  #texte1{
    float:left;
    width:500px;
    margin-left:5%;
    color:black;
    text-shadow: 1px 1px black;
    font-size:2vw;
  }
  #les_info{
    font-size:2vw;
    padding-top:200px;
  }
  #section_ninja{
    float:none;
    float:clear;
    text-align:center;
  }
  input{
    font-size:1.5vw;
  }
  #info_donnée{
    font-size:1.5vw;
    color:white;
    text-shadow: 1px 1px black;
  }
}


@media screen and (min-width: 901px) and (max-width:990px) {
  #MENU{
    display:none;
  }
  #logo{
    display:none;
  }
  #sec1{
    height:350px;
  }
  #texte1{
    float:left;
    width:500px;
    margin-left:5%;
    color:black;
    text-shadow: 1px 1px black;
    font-size:2vw;
  }
  #les_info{
    font-size:1.5vw;
    padding-top:200px;
  }
  #section_ninja{
    float:none;
    float:clear;
    text-align:center;
  }
  #info_donnée{
    font-size:1.5vw;
    color:white;
    text-shadow: 1px 1px black;
  }
  #separate{
    float:none;
    margin-top:50px;
  }
  input{
    font-size:1.5vw;
  }
}


@media screen and (min-width: 991px) and (max-width:1200px) {

  #sec1{
    height:350px;
  }
  #texte1{
    float:left;
    width:500px;
    margin-left:50%;
    color:black;
    text-shadow: 1px 1px black;
    font-size:1.5vw;
  }
  #les_info{
    font-size:1.5vw;
    padding-top:200px;
  }
  #info1,
  #info2{
    font-size:2.5vw;
  }
  #info3{
    font-size:1.4vw;
    padding-top:40px;
  }
  #section_ninja{
    float:none;
    float:clear;
    text-align:center;
  }
  #info_donnée{
    font-size:1.5vw;
    color:white;
    text-shadow: 1px 1px black;
  }
  #separate{
    float:none;
    margin-top:50px;
  }
  #info1,
  #info2{
    display:none;
  }
}


@media screen and (min-width: 1200px) and (max-width:1400px) {
  #sec1{
    height:350px;
  }
  #texte1{
    float:left;
    width:500px;
    margin-left:50%;
    color:black;
    text-shadow: 1px 1px black;
    font-size:1vw;
  }
  #les_info{
    font-size:1.5vw;
    padding-top:150px;
  }
  #info1,
  #info2{
    font-size:2vw;
  }
  #info3{
    font-size:1.2vw;
    padding-top:40px;
  }
  #section_ninja{
    float:none;
    float:clear;
    text-align:center;
  }
  #info_donnée{
    font-size:1vw;
    color:white;
    text-shadow: 1px 1px black;
  }
  #separate{
    float:none;
    margin-top:50px;
  }
  #info1,
  #info2{
    display:none;
  }
}



@media screen and (min-width: 1400px) and (max-width:1700px) {

  #sec1{
    height:350px;
  }
  #texte1{
    float:left;
    width:500px;
    margin-left:20%;
    color:black;
    text-shadow: 1px 1px black;
    font-size:1vw;
    text-align:justify;
  }
  #info1,
  #info2{
    font-size:2.7vw;
    text-align:center;
  }
  #info3{
    font-size:1.2vw;
    padding-top:50px;
  }
  #info_donnée{
    float:none;
    font-size:1vw;
    color:white;
    text-shadow: 1px 1px black;
    width:100%;
  }
  #separate{
    float:none;
    margin-top:50px;
  }
  #info1,
  #info2{
    display:none;
  }
  #section_ninja{
    text-align:center;
  }
}
