a:hover{
    text-decoration: none;
}
#tendance{
    padding-top:50px;
}
#tendance,
#Book,
#habit,
#retour2,
#Retour{
    color:white;
}
#separate_page{
    width:50px;
    height:1px;
    background:white;
}

#retour_page{
    color:white;
}
