            <!-- This is the second part of the main menu.
                 All pages have a menu and a submenu-->

            {% include "menu/menu_main/menu_direction.html" %}
            {% block content %}
            {% endblock %}

            <link href="/static/css/direction/navebarre_vent.css" rel="stylesheet">

            <div id="deux" class="col-sm">
              <center><span><u>Page</u></h1></span>




                      <!-- Redirect to Map section -->

                      <!-- un() and deux() changes the color of the text -->

                      <a href="/direction/map#texte2">
                          <p id="Carte" class="Carte"
                              onmouseover="un('Carte')" onmouseout="deux('Carte')">
                              La Carte
                          </p>
                      </a>
                      

                      <a href="/direction/map#trois">
                          <p id="Explications" class="Explications"
                              onmouseover="un('Explications')" onmouseout="deux('Explications')">
                              Les Explications
                          </p>
                      </a>

                      
                      <p id="Retour" class="Retour"
                          onmouseover="un('Retour')" onmouseout="deux('Retour')"
                          onclick="retour_page('/direction/map')">Retour
                      </p>



                      <center><div id="separate_page"></div></center>





              
            </div>

            















<script>
    function retour_page(page){
        document.location.href = page;
    };
</script>
