{% include "haut_page/info_pollu_haut.html" %}
{% block content %}
{% endblock %}

<link rel="stylesheet" type="text/css" href="/static/css/pollution/info_pollu/info_pollu.css">
<link rel="stylesheet" type="text/css" href="/static/css/pollution/info_pollu/info_pollu_haut.css">
<body>

  <div class="container">
    <div class="row" >
    
      <span id='menumenu'>Menu</span><br><br>
      
      <div class="col-xs-10 col-md-12 col-lg-12" >
        <center><h1 >La pollution</h1></center>
        Un article écrit par Le magazine virtuel


        <br><br>
        Une météorite qui va s'écraser sur la Terre,
        Les Extraterrestre qui vont nous envahir ou
        des robots tueurs qui nous domineront ?
        Pourquoi pas. Mais une menace bien plus 
        probable, bien plus possible et bien plus
        réelle nous attend. L'augmentation du
        niveau de l'eau va réduire notre zone
        d'espace habitable en condamnant les zones 
        littorales. Ce qui va "pousser" ces habitants
        vers le centre. Ce qui va nous entasser.
        Cetains aiment la proximité, d'autres non.
        Cela va créer des des guerres de territoire.
        (Avez vous deja regarder une téléréalité? (proximité))
        De plus l'augmentation de la  température va 
        aumenté le taux de testo... Ce qui augmente
        l'aggressivité... (et la hausse des fonds marins)
        De plus, l'offre et la demande de la nourriture
        baissera, les sources polluantes fermeront
        par une révolution de la population
        baissera le travail et le pouvoir d'achat,
        soit nous seront alors unis soit quelques uns
        prendront le pouvoir et hunter game sera une 
        réalité ou nous vivrons dans l'espace !
        Mais avant de vivre dans l'espace... Il nous
        faudra bien plus que 4 ou 5 générations non ?
        La société ou nous vivons changera drastiquement
        par les traumatismes liées par les catastrophes naturelles.
        De plus nos espaces habitables baissera encore plus
        avec les zones volcaniques (l'activité volcaniques augmente par la fonte des glaces).
        L'entassement provoque des zones de mini société. Mais aussi
        de non vie privée et par les stimuli ambiant et par la baisse
        de notre attention. Biensur peut etre que nous nous y accoutumeront.
        Mais cela menera a des pertes de motivation, de stresse, d'anxiété
        d'espoir qui est un cocktail molotov. De plus les travails répétitif
        seront beaucoup plus présent. Un non épanouissement, une perte
        de motivation, une perte de reve (qu'allons nous bien pouvoir réver si
        gérard son frere, son cousin, son arriere arriere petit frere
        son voisin le cousin du voisin de son voisin a la meme vie ?)
        ca donne une perte de reproduction, de la dépression, de la perte
        de travail ou un régime totalitariste et la la colere et la revolte
        et a un pas de fourmi. En plus avec la peur d'une catasrpohe et la faim
        et la non variance de nourriture si pas faim. ok reste sur ca go sur p12
        
      </div>
    </div>
  </div><br><br>


  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-md-12 col-lg-12">
        Titre<br>
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

      </div>
    </div>
  </div><br><br>




  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-md-12 col-lg-4">
        Titre<br>
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

      </div>
      <div class="col-xs-10 col-md-12 col-lg-4">
        Titre<br>
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

      </div>
      <div class="col-xs-10 col-md-12 col-lg-4">
        Titre<br>
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

      </div>
    </div>



    <br><br><br><br><br><br><br><br><br><br><br>

    
    <div id="reso">
        {% include "bottom/bottom_page.html" %}
        {% block content2 %}
        {% endblock %}


    </div>








</body>

</html>
