{% include "haut_page/info_pollu_haut.html" %}
{% block content %}
{% endblock %}

<link rel="stylesheet" type="text/css" href="/static/css/pollution/info_pollu/info_pollu.css">
<link rel="stylesheet" type="text/css" href="/static/css/pollution/info_pollu/info_pollu_haut.css">
<body>

  <div class="container">
    <div class="row" >
    
      <span id='menumenu'>Menu</span><br><br>
      
      <div class="col-xs-10 col-md-12 col-lg-12" >
        <center><h1 >La pollution</h1></center>
        Un article écrit par Le magazine virtuel


        <br><br>
        Une météorite qui va s'écraser sur la Terre,
        Les Extraterrestre qui vont nous envahir ou
        des robots tueurs qui nous domineront ?
        Pourquoi pas. Mais une menace bien plus 
        probable, bien plus possible et bien plus
        réelle nous attend. L'augmentation du
        niveau de l'eau va réduire notre zone
        d'espace habitable en condamnant les zones 
        littorales. Ce qui va "pousser" ces habitants
        vers le centre. Ce qui va nous entasser.
        Cetains aiment la proximité, d'autres non.
        Cela va créer des des guerres de territoire.
        (Avez vous deja regarder une téléréalité? (proximité))
        De plus l'augmentation de la  température va 
        aumenté le taux de testo... Ce qui augmente
        l'aggressivité... (et la hausse des fonds marins)
        De plus, l'offre et la demande de la nourriture
        baissera, les sources polluantes fermeront
        par une révolution de la population
        baissera le travail et le pouvoir d'achat,
        soit nous seront alors unis soit quelques uns
        prendront le pouvoir et hunter game sera une 
        réalité ou nous vivrons dans l'espace !
        Mais avant de vivre dans l'espace... Il nous
        faudra bien plus que 4 ou 5 générations non ?
        La société unis ou nous vivont changera en
        une société plus unis ou moins unis et cette
        unions ne tiens qu'a 1000 ou 10 000 liens 
        de personne influentes traumatisé par un tsunami
        qui traumatisera a son tour x
        autres personnes. Une baisse de l'espoir,
        un augmentation du pouvoir (que ce soit d'un gentil ou d'un méchant)
        une baisse de confort d'espace, une baisse de la
        nourriture ca donne des sims malades
        ou aggressifs ca donne une baisse de la technologie
        ou une sorte de resident evil ou i am mother.
        Ou alors une augmentation de la durée de vie
        (les enfants mureront plus vite et donc "vivront plus logtnemps")
        faut voir le déplacement d'une foule...
        et lincapacité de la déplacer ou alors ils auront tous prévus
        ou alors pas le choix faut butter tout le monde
        ou vivre sous terre sous ste chaluer non merci, ou 
        elevé les batiments mais avec les tremblement oh et puis merde
        relis et corrige
      </div>
    </div>
  </div><br><br>


  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-md-12 col-lg-12">
        Titre<br>
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

      </div>
    </div>
  </div><br><br>




  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-md-12 col-lg-4">
        Titre<br>
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

      </div>
      <div class="col-xs-10 col-md-12 col-lg-4">
        Titre<br>
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

      </div>
      <div class="col-xs-10 col-md-12 col-lg-4">
        Titre<br>
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

      </div>
    </div>



    <br><br><br><br><br><br><br><br><br><br><br>

    
    <div id="reso">
        {% include "bottom/bottom_page.html" %}
        {% block content2 %}
        {% endblock %}


    </div>








</body>

</html>
