{% include "haut_page/machin_a_o_haut.html" %}
{% block content %}
{% endblock %}

<link rel="stylesheet" type="text/css" href="/static/css/pollution/machine_a_o/machine_a_o_haut.css">
<link rel="stylesheet" type="text/css" href="/static/css/pollution/machine_a_o/machine_a_o.css">

  <link rel="stylesheet" type="text/css" href="/static/css/pollution.css" media="all" />
  


              <input type='button' id="menu_res" value="Menu"
                  onclick="document.location.href='/polution/navebarre_soluce'"/>

              
              <header>

                  <center>
                  
                  <section id='section_info'>

                        <p id='texte'>
                        La pluie fait baisser la pollution. La pollution est le fléau de
                        notre ère. La pollution tue plusieurs milliers de personne dans le
                        monde. Elle rend l'air irrespirable.<br>Afin de lutter contre la
                        pollution plusieurs solutions ont été envisagé. La lutte contre le plastique,
                        la lutte contre les vieilles voitures, la réduction du traffique en temps voulu...
                        <br><br>Certain ont réussi l'impossible en controlant la météo. C'est le
                        cas de la Nasa qui a reussi à faire pleuvoir par des machines à eau.
                        Mais aussi de la Chine et de la Tahilande qui par l'envoie de composant
                        chimique ont reussi a faire pleuvoir sur leur ville. Dans des but
                        de pollution ou non.<br>
                        La pluit plaque la pollution au sol et le vent la nettoie.<br>
                        Voici plusieurs video de la Nasa, puis d'une interview avec un ingénieur de airparif,
                        d'une émission radio et de la thailande qui fait pleuvoir sur sa ville contre la
                        pollution !
                        </p>
                        
                  </section>
                  </center><br><br>



              </header>


  <body>
  
  
              <center>
              
              <section id="les_video" style='width:100%;'>


                <div class="container" style='text-align:center;'>
                  <div class="row">


                

                    <div class="col-lg-12 col-md-12 col-xs-12">

                    
                        <p id="titre2">La pluie artificielle et la Nasa</p><br>

                        <center>
                        
                        <video controls autoplay id="video">
                            <source src="/static/video/nasa.mp4" type="video/mp4">
                        </video>


                        <center><a href="https://www.dailymotion.com/video/xj815l"
                        style='color:white'>
                        <i>https://www.dailymotion.com/video/xj815l</i>
                        </a></center>

                        

    
                        </center><br><br><br><br><br><br><br><br>

                        
                    </div>
             
                    </div>



                        
                        <style>

                
                            
                        </style>







                
                    <div class="col-lg-12 col-md-12 col-xs-12">

                    
                        <p id="titre2">La pluie artificielle</p><br>

                        <center>
                        
                        <video controls autoplay id="video2">
                            <source src="/static/video/inge.mp4" type="video/mp4">
                        </video>


                        <center><a href="https://www.youtube.com/watch?v=lCw4Hd6c990"
                        style='color:white'>
                        <i>https://www.youtube.com/watch?v=lCw4Hd6c990</i>
                        </a></center>

                        

    
                        </center><br><br><br><br><br><br><br><br>

                        
                    </div>







                    <div class="col-lg-12 col-md-12 col-xs-12">

                    
                        <p id="titre3">La pluie et la pollution</p><br>

                        <center>
                        
                        <video controls autoplay id="video3">
                            <source src="/static/video/euro.mp4" type="video/mp4">
                        </video>

                    
                        </center>

                        <center><a href="https://www.youtube.com/watch?v=NLsyYO1eOSI"
                        style='color:white'>
                        <i>https://www.youtube.com/watch?v=NLsyYO1eOSI</i>
                        </a></center>
    
                        </center><br><br><br><br><br><br><br><br>

                        
                    </div>



















                    <div class="col-lg-12 col-md-12 col-xs-12">



                    <center>
                    <p id="titre4">De la pluie artificiel en Thailande</p><br>
                    <iframe id="inlineFrameExample2"
                        title="Inline Frame Example"
                        src="https://www.bfmtv.com/mediaplayer/video/en-thailande-une-pluie-artificielle-contre-la-pollution-1131972.html">
                    </iframe>
                    </center>

                        
                       <br>
                       
                    </div>
                 


                    
                  </div>
                </div>



            </section>
            </center>




<br><br><br><br><br><br><br>

<center>
<section>

    <div class="container" id="container_text">
      <div class="row" id="row_text">
        <div class="col-xs-12 col-md-4 col-lg-4" style='color:white;' id="texte1">
            VIDEO 1<br>
            est une video de la Nasa. On
            peut y voir une machine à pluie.
            On peut y voir une machine bruyant qui produit un énorme 
            amas de fumée. Cet amas monte dans le ciel.
            Le présentateur nous raccontre que c'est un mélange
            d'hydrogene et d'oxygène en somme de la vapeur.
            Plus  tard dans la video on voit que la fumé produit
            de la pluie. Puis nous voyons d'autre présentation
            de machine à pluie.
 
        </div>


        
        <div class="col-xs-12 col-md-4 col-lg-4" style='color:white;' id="texte2">
          VIDEO 2 <br>
          Voici une vidéo ou on nous parle
          de la technique de la machine a pluie.
          En effet la tailande utilise du sel par des
          avions afin de faire pleuvoir (par
          JF BERTHOUMIEU). La chine utilise des noyeaux
          de congélation avec de l'iodure d'argent.
          De plus il existe une technique récent de sel hygroscopique
          afin de faire pleuvoir. De plus le dernier nous montre
          des images de la technique de la tailande.

        </div>



        
         <div class="col-xs-12 col-md-4 col-lg-4" style='color:white;' id="texte3">
         VIDEO 3<br>
         Cette video nous parle de l'effet de la pluie
         sur la pollution. En effet,
         le vent et la pluie vont "permettre de
         disperser la pollution".
         <br>Il nous est aussi dit
         que ce n'est pas le taux de pollution qui
         est mortel mais le temps de présence de 
         la pollution.
         
        </div>
        
      </div>
    </div>

</section>
</center>












  
  




  

    <div id="reso" style='margin-top:200px;'>
        
    {% include "bottom/bottom_page.html" %}
    {% block content2 %}
    {% endblock %}
    </div>















</html>


        
    </div>

  </body>



</html>


















