body {
  background:url('/static/v2/coupefemme1.jpg') no-repeat fixed center;;
  -webkit-background-size: cover;
  background-size: cover;
}
#logo{
    position:fixed;
    float:left;
    margin-left:10px;
    margin-top:-90px;  
}

#shut{
    font-size:300%;
    color:black;
}
#notshut{
    font-size:300%;
    display:none;
    color:black;
}

#tendancee{
    color:black;
}

#book{
    color:black;
}

#reseaux{
    color:black;
}

#contacter{
    color:black;
}


#titre_menu{
    font-size:2em;
}
#menu1{
    font-size:1.2em;
}

#menu2{
    font-size:1.2em;
}

#menu3{
    font-size:1.2em;
}

#menu4{
    font-size:1.2em;
}

#menu{
    font-size:1.2em;
}

#sommaire{
    font-size:1.2em;
}
a:hover{
    text-decoration: none;
    color:white;
}
#hrefsommaire{
    color:black; 
}
#hreftendance{
    color:black;
}
#hrefcoiffure{
    color:black;
}
#hrefcoiffeur{
    color:black;
}
#hrefgym{
    color:black;
}
#hrefhabit{
    color:black;
}
#hrefsommaire{
    color:black;
}

#hrefmenu{
    color:black;
}
#hrefsommaire:hover{
    color:white;
}
#hreftendance:hover{
    color:white;
}
#hrefcoiffure:hover{
    color:white;
}
#hrefcoiffeur:hover{
    color:white;
}
#hrefgym:hover{
    color:white;
}
#hrefhabit:hover{
    color:white;
}
#hrefmenu:hover{
    color:white;
}
#hrefsommaire:hover{
    color:white;
}






@media screen and (min-width: 1500px) and (max-width:2000px) {
  #MENU {
    padding-top:20px;
    font-size:1.3vw ;
  }
}


@media screen and (min-width: 1000px) and (max-width:1499px) {
  #MENU {

    padding-top:10px;
    font-size:1.3vw ;
  }
}



@media screen and (min-width: 850px) and (max-width:999px) {
  #MENU {
    padding-top:10px;
    font-size:1.3vw;
    
  }
}

@media screen and (min-width: 500px) and (max-width:850px) {
  #MENU {
    padding-top:30px;
    font-size:1.3vw;
    
  }
}

@media screen and (min-width: 450px) and (max-width:500px) {
  #MENU {
    padding-top:45px;
    font-size:1.3vw;
    
 
  }
}



@media screen and (min-width: 400px) and (max-width:450px) {
  #MENU {
    padding-top:45px;
    font-size:1.3vw;
    

  }
}


@media screen and (min-width: 350px) and (max-width:400px) {
  #MENU {
    padding-right:-100px;
    padding-top:80px;
    font-size:1.3vw;


  }
}


@media screen and (min-width: 200px) and (max-width:350px) {
  #MENU {
    padding-right:-100px;
    padding-top:60px;
    font-size:1.3vw;


  }
}



@media screen and (min-width: 1100px) and (max-width:2000px) {
  #logo {
    margin-left:5px;
  }
}


@media screen and (min-width: 970px) and (max-width:1100px) {
  #logo {
    margin-left:30px;
  }
}



@media screen and (min-width: 850px) and (max-width:970px) {
  #logo {
    margin-top:-80px;
    margin-left:30px;
    
  }
}

@media screen and (min-width: 600px) and (max-width:850px) {
  #logo {
    margin-top:-70px;
    margin-left:40px;
    width:15%;

  }
  #inlineFrameExample{
    height:370px;
    width:350px;
  }
}

@media screen and (min-width: 400px) and (max-width:600px) {
  #logo {
    margin-top:-60px;
    margin-left:40px;
    width:10%;

  }
}

@media screen and (min-width: 200px) and (max-width:400px) {

  #inlineFrameExample{
    height:400px;
  }
}


body {
  background:url('/static/v2/coupefemme1.jpg') no-repeat fixed center;;
  -webkit-background-size: cover;
  background-size: cover;
}
#logo{
    position:fixed;
    float:left;
    margin-left:10px;
    margin-top:-90px;
    
}

#shut{
    font-size:300%;
    color:black;

}
#notshut{
    font-size:300%;
    display:none;
    color:black;
}

#tendancee{
    color:black;
}

#book{
    color:black;
}

#reseaux{
    color:black;
}

#contacter{
    color:black;
}


#titre_menu{
    font-size:2em;
}
#menu1{
    font-size:1.2em;
}

#menu2{
    font-size:1.2em;
}

#menu3{
    font-size:1.2em;
}

#menu4{
    font-size:1.2em;
}



#menu{
    font-size:1.2em;
}

#sommaire{
    font-size:1.2em;
}



a:hover{
    text-decoration: none;
    color:white;
}



#hrefsommaire{
    color:black;
    
}
#hreftendance{
    color:black;
}

#hrefcoiffure{
    color:black;
}

#hrefcoiffeur{
    color:black;
}

#hrefgym{
    color:black;
}

#hrefhabit{
    color:black;
}

#hrefsommaire{
    color:black;
}

#hrefmenu{
    color:black;
}



#hrefsommaire:hover{
    color:white;
}
#hreftendance:hover{
    color:white;
}

#hrefcoiffure:hover{
    color:white;
}

#hrefcoiffeur:hover{
    color:white;
}

#hrefgym:hover{
    color:white;
}

#hrefhabit:hover{
    color:white;
}


#hrefmenu:hover{
    color:white;
}

#hrefsommaire:hover{
    color:white;
}






@media screen and (min-width: 1500px) and (max-width:2000px) {
  #MENU {
    padding-top:20px;
    font-size:1.3vw ;
  }
}


@media screen and (min-width: 1000px) and (max-width:1499px) {
  #MENU {

    padding-top:10px;
    font-size:1.3vw ;
  }
}



@media screen and (min-width: 850px) and (max-width:999px) {
  #MENU {
    padding-top:10px;
    font-size:1.3vw;
    
  }
}

@media screen and (min-width: 500px) and (max-width:850px) {
  #MENU {
    padding-top:30px;
    font-size:1.3vw;
    
  }
}

@media screen and (min-width: 450px) and (max-width:500px) {
  #MENU {
    padding-top:45px;
    font-size:1.3vw;
    
 
  }
}



@media screen and (min-width: 400px) and (max-width:450px) {
  #MENU {
    padding-top:45px;
    font-size:1.3vw;
    

  }
}


@media screen and (min-width: 350px) and (max-width:400px) {
  #MENU {
    padding-right:-100px;
    padding-top:80px;
    font-size:1.3vw;


  }
}


@media screen and (min-width: 200px) and (max-width:350px) {
  #MENU {
    padding-right:-100px;
    padding-top:60px;
    font-size:1.3vw;


  }
}



@media screen and (min-width: 1100px) and (max-width:2000px) {
  #logo {
    margin-left:5px;
  }
}


@media screen and (min-width: 970px) and (max-width:1100px) {
  #logo {
    margin-left:30px;
  }
}



@media screen and (min-width: 850px) and (max-width:970px) {
  #logo {
    margin-top:-80px;
    margin-left:30px;
    
  }
}

@media screen and (min-width: 600px) and (max-width:850px) {
  #logo {
    margin-top:-70px;
    margin-left:40px;
    width:15%;

  }
  #inlineFrameExample{
    height:370px;
    width:350px;
  }
}

@media screen and (min-width: 400px) and (max-width:600px) {
  #logo {
    margin-top:-60px;
    margin-left:40px;
    width:10%;

  }
}

@media screen and (min-width: 200px) and (max-width:400px) {

  #inlineFrameExample{
    height:400px;
  }
}

