/* Body section*/


i{
    color:white;
}


/* Media querry section*/

@media screen and (min-width: 0px) and (max-width:374px) {
    #fb{
        font-size:50px;
        width:250px;
    }
    #tw{
        font-size:50px;
        width:250px;
    }
    #sn{
        font-size:50px;
        width:250px;
    }    
    .mb-4{
        font-size:5vw;     
    }
}

@media screen and (min-width: 374px) and (max-width:800px) {
    #fb{
        font-size:100px;
        width:300px;
    }
    #tw{
        font-size:100px;
        width:300px;
    }
    #sn{
        font-size:100px;
        width:300px;
    }    
    .mb-4{
        font-size:5vw;
    }
}


@media screen and (min-width: 800px) and (max-width:1000px) {
    #fb{
        font-size:100px;
        width:300px;
    }
    #tw{
        font-size:100px;
        width:300px;
    }
    #sn{
        font-size:100px;
        width:300px;
    }    
    .mb-4{
        font-size:3vw;
        
    }
}



@media screen and (min-width: 1000px) and (max-width:1500px) {
    #fb{
        font-size:150px;
        width:300px;
    }
    #tw{
        font-size:150px;
        width:300px;
    }
    #sn{
        font-size:150px;
        width:300px;
    }    
    .mb-4{
        font-size:3vw;
        
    }
}

@media screen and (min-width: 1501px){
    #fb{
        font-size:150px;
        width:400px;
    }
    #tw{
        font-size:150px;
        width:400px;
    }
    #sn{
        font-size:150px;
        width:400px;
    }    
    .mb-4{
        font-size:3vw;
        
    }
}

