{% include "haut_page/tendance_haut.html" %}
{% block content %}
{% endblock %}

<link rel="stylesheet" type="text/css" href="/static/css/coupe/tendance/tendance.css">
<link rel="stylesheet" type="text/css" href="/static/css/coupe/tendance/tendance_haut.css">
<div id="menu_rep"><a href="/administrateur/navebarre_admin2">Menu</a></div>

<header>
    <section id="top_text">
        <div id="fond_tendance"> 
            <div id ="texte_in_texte">
                <h1 id="titre1">La tendance du moment</h1><br>
                       
                  Les vetements sont l'oeuvre d'une erreur
                  pour les uns, un atout pour les autres,
                  un signe de distinction, de séparation;
                  nous vous proposons de voir les coloris
                  de la mode actuelle.<br>
                  Ne soyez pas conforme aux règles ! Sans pour
                  autant vous en affranchir ! 
            </div>    
        </div>      
        <div id='latendance'></div>
    </section>
</header>





<body> 


    <section id='section_mode'>
      <center><div id="cart_color">

        <center><h1 id="cart_h1">Notre tendance</h1></center>
        
        <center>
          <div id='brun'></div>
          <div id='blond'></div>
          <div id='chatain'></div>
          <br>
        </center>
            
       
      </div></center>
    </section>






    <section id="iframe_section">
        <!-- Iframe from an other page. Give feeling to consult a book -->
        <div id="">
          <center>
            <iframe id="inlineFrameExample"
                title="Inline Frame Example"
                src="/photo/database_mode">
            </iframe>
          </center>
        </div>
    </section>


</body>

<footer id="botttom">

{% include "bottom/bottom_page.html" %}
{% block content2 %}
{% endblock %}

</footer>


  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/js/creative.min.js"></script>



</html>









<script>

  //This functions are a result from a mistake.
  //Indeed, before we gave possibility to
  //choose to watch one database (women or men)
  //with input like (do you want watch database ? yes women ? men ?)
  // so here we action this input who are now invisible.

  // ---> Evenement Function <---

  function data(){
    document.location.href="/photo/database_mode/"
  };

  function tendance(){
    document.getElementById('latendance').innerHTML = '<br><h3>La tendance du moment selon : </h3>';
    document.getElementById('section').style.display = 'block';
    document.getElementById('botttom').style.display = 'none';
  };

  function decodeHtml(html) {
    var txt = document.createElement("textarea");
    txt.innerHTML = html;
    return txt.value;
  };


  var a = decodeHtml("([&#39;blanc&#39;, &#39;bleu&#39;],)");
  var b = decodeHtml("([&#39;gris&#39;, &#39;bleu&#39;],)");
  var c = decodeHtml("([&#39;blanc&#39;, &#39;blanc&#39;],)");
  
  a = a.slice(3,-4)
  b = b.slice(3,-4)
  c = c.slice(3,-4)

  function enelve(lettre){
    liste = ""
    for(var i = 0; i < lettre.length; i ++){
      if (lettre[i] == "'"){
      }
      else if(lettre[i] == ","){
        liste += " et "
      }
      else{
        liste += lettre[i]
      }
    }
    return liste
  };

  a = enelve(a)
  b = enelve(b)
  c = enelve(c)

  document.getElementById('brun').innerHTML = "<center><strong>Brune :</strong>&nbsp;&nbsp;&nbsp;</center>" +
                                              "<center><p style='font-family:amaze, segoe print, segoe script; font-size:2em;'>" + a + "</p></center>";

                                                
  document.getElementById('blond').innerHTML = "<center><strong>Blonde :</strong>" +
                                                "&nbsp;&nbsp;&nbsp;<p style='font-family:amaze,segoe print, segoe script; font-size:2em;'>" + b + "</p></center>";

                                                  
  document.getElementById('chatain').innerHTML = "<center><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chatain :" +
                                                  "</strong>&nbsp;&nbsp;&nbsp;<p style='font-family:amaze, segoe print, segoe script;font-size:2em;'>" + c + "</p></center>";


  function text_shut(){
    document.getElementById('texte_in_texte').style.display = "none";
    document.getElementById('text_icone_texte').style.display = "none";
    document.getElementById('text_icone_ouvrir').style.display = "inline-block";
  };

  function open_it_bro(){
    document.getElementById('texte_in_texte').style.display = "block";
    document.getElementById('text_icone_texte').style.display = "inline-block";
    document.getElementById('text_icone_ouvrir').style.display = "none";
  };
</script>





























