#menu_res{
    background:none;
    border:none;
    color:white;
    }
    #salopette:hover{
        background:#424874;
    
    }
    #reso{
        padding:0;
    }
    
    #jean:hover{
        background:red;
    
    }
    #toile:hover{
        background:lightblue;
    
    }
    #longue:hover{
        background:green;
    
    }
    #courte:hover{
        background:yellow;
    
    }
    #laine:hover{
        background:red;
    
    }
    
    #add1:hover{
        background:magenta;
    
    }
    #add2:hover{
        background:orange;
    
    }
    #no_add1:hover{
        background:red;
    
    }
    #no_add2:hover{
        background:gray;
    
    }
    i{
        color:white;
    }
    
    
    
    @media screen and (min-width: 320px) and (max-width:375px) {
     #logo, #MENU{
        display:none;
     }
     #menu_res{
        display:block;
     }
     #les_textes{
        height:400px;
        color:white;
        font-weight:bold;
        text-align:justify;
        margin-top:25px;
        text-align:center;
     }
    }
    @media screen and (min-width: 375px) and (max-width:425px) {
     #logo, #MENU{
        display:none;
     }
     #menu_res{
        display:block;
     }
     #les_textes{
        height:400px;
        color:white;
        font-weight:bold;
        text-align:justify;
        margin-top:25px;
        text-align:center;
     }
    }
    
    @media screen and (min-width: 425px) and (max-width:602px) {
     #logo, #MENU{
        display:none;
     }
     #menu_res{
        display:block;
     }
     #les_textes{
        height:400px;
        color:white;
        font-weight:bold;
        text-align:justify;
        margin-top:25px;
        text-align:center;
     }
    }
    @media screen and (min-width: 602px) and (max-width:725px) {
     #logo, #MENU{
        display:none;
     }
     #menu_res{
        display:block;
     }
     #les_textes{
        height:400px;
        color:white;
        font-weight:bold;
        text-align:justify;
        margin-top:25px;
        width:400px;
        margin-left:100px;
     }
    }
    @media screen and (min-width: 725px) and (max-width:850px) {
     #logo, #MENU{
        display:none;
     }
     #menu_res{
        display:block;
     }
     #les_textes{
        height:400px;
        color:white;
        font-weight:bold;
        text-align:justify;
        margin-top:25px;
        width:300px;
        margin-left:100px;
     }
    }
    
    @media screen and (min-width: 851px) and (max-width:1000px) {
     #menu_res{
        display:none;
     }
     #les_textes{
        height:400px;
        color:white;
        font-weight:bold;
        text-align:justify;
        margin-top:25px;
        width:300px;
        margin-left:200px;
     }
    }
    
    @media screen and (min-width: 1000px) and (max-width:1200px) {
     #menu_res{
        display:none;
     }
     #les_textes{
        height:400px;
        color:white;
        font-weight:bold;
        text-align:justify;
        margin-top:25px;
        width:350px;
        margin-left:200px;
        
     }
    }
    
    @media screen and (min-width: 1200px) and (max-width:1400px) {
     #menu_res{
        display:none;
     }
     #les_textes{
        height:400px;
        color:white;
        font-weight:bold;
        text-align:justify;
        margin-top:25px;
        width:450px;
        margin-left:25%;
        font-size:1.5vw;
     }
    }
    @media screen and (min-width: 1400px) and (max-width:1600px) {
     #menu_res{
        display:none;
     }
     #les_textes{
        height:400px;
        color:white;
        font-weight:bold;
        text-align:justify;
        margin-top:25px;
        width:400px;
        margin-left:40%;
        font-size:1.4vw;
     }
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    #info_cloths_like_price{
        background:url("/static/img/parquet1.jpg");
        border:3px solid black;
        border-radius:50px;
    }
    
     @media screen and (min-width: 320px) and (max-width:375px) {
        #section_info1{
            margin-top:100px;
        }
        #info_cloths_like_price{
            width:100%;
            height:auto;
        }
        #nos_info_habits{
            width:100%;
        }
        #mage{
    
            width:50%;
            float:right;
            margin-right:10px;
        }
     }
     @media screen and (min-width: 375px) and (max-width:425px) {
        #section_info1{
            margin-top:100px;
        }
        #info_cloths_like_price{
            width:85%;
            height:auto;
        }
        #nos_info_habits{
            width:100%;
        }
        #mage{
    
            width:35%;
            float:right;
            margin-right:10px;
        }
     }
     @media screen and (min-width: 425px) and (max-width:602px) {
        #section_info1{
            margin-top:100px;
        }
        #info_cloths_like_price{
            width:85%;
            height:auto;
        }
        #nos_info_habits{
            width:100%;
        }
        #mage{
           
            width:35%;
            float:right;
            margin-right:35px;
        }
     }
     @media screen and (min-width: 602px) and (max-width:725px) {
        #section_info1{
            margin-top:500px;
        }
        #info_cloths_like_price{
            width:85%;
            height:auto;
        }
        #nos_info_habits{
            width:100%;
        }
        #mage{
     
            width:35%;
            float:right;
            margin-right:10px;
        }
     }
     
     @media screen and (min-width: 725px) and (max-width:850px) {
        #section_info1{
            margin-top:300px;
        }
        #info_cloths_like_price{
            width:75%;
            height:auto;
        }
        #nos_info_habits{
            width:100%;
        }
        #mage{
            width:35%;
            float:right;
            margin-right:35px;
            margin-top:-20px;
        }
     }
    
     @media screen and (min-width: 851px) and (max-width:1000px) {
        #section_info1{
            margin-top:250px;
        }
        #info_cloths_like_price{
            width:50%;
            height:auto;
        }
        #nos_info_habits{
            width:100%;
        }
        #mage{
    
            width:35%;
            float:right;
            margin-right:10px;  
        }
        
     }
    
     @media screen and (min-width: 1000px) and (max-width:1200px) {
        #section_info1{
            margin-top:250px;
        }
        #nos_info_habits{
            width:100%;
        }

        #info_cloths_like_price{
            width:50%;
            height:auto;
        }
        #mage{
    
            width:35%;
            float:right;
            margin-right:10px;  
        }
        
     }
    
     @media screen and (min-width: 1200px) and (max-width:1400px) {
        #section_info1{
            margin-top:350px;
        }
        #nos_info_habits{
            width:100%;
        }
        #mage{
            width:35%;
            float:right;
            margin-right:10px;  
        }
        #CONTENEUR_INFO{
            font-size:2vw;
        }
        #info_cloths_like_price{
            width:55%;
            height:auto;
        }
    
    
     }
    
     @media screen and (min-width: 1400px) and (max-width:1600px) {
        #section_info1{
            margin-top:350px;
        }
        #nos_info_habits{
            width:100%;
        }
        #mage{
    
            width:35%;
            float:right;
            margin-right:10px;  
        }
        #CONTENEUR_INFO{
            font-size:1.2vw;
        }
        #info_cloths_like_price{
            width:40%;
            height:350px;
        }
    
    
     }
    
     
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    #notshut_color{
        width:300%;
        float:right;
        color:white;
    }
    #shut_color{
        font-size:300%;
        float:right;
        color:white;
    }
    #info_oups{
        color:white;
        font-size:1.3vw;
        text-shadow:1px 1px black;
    }
    #shut_info{
        font-size:250%;
        color:white;
        display:none;
    }
    #no_shut_info{
        font-size:300%;
        color:white;
        
    }
    #info_p{
        color:white;
    }
    #no_shut_size,
    #no_shut_tshirt,
    #no_shut_color_pantalon,
    #no_shut_color_hair{
        font-size:300%;
        color:white;
        right:100;
        position:absolute;
        
        
    }
    #shut_size,
    #shut_tshirt,
    #shut_color_pantalon,
    #shut_color_hair{
        font-size:300%;
        color:white;
        right:100;
        position:absolute;
        display:none;
    }
    #p_hair_color{
        font-size:1em;
        color:white;
        float:right;
        width:200px;
    }
    #pantaloune{
        float:right; 
        height:100px;
        width:100px;
    }
    #pantalon_div{
        background:url("/static/img/parquet1.jpg");
        border:3px solid black;
        border-radius:50px;
        width:150px;
        margin-left:20%;
    }
    #Pantalon{
        border:3px solid black;
        font-family:segoe print;
    }
    #info_oups{
        font-size:1em;
    }
    #blonde,
    #chatain,
    #rousse,
    #noire,
    #brune{
      border:3px solid black;
      width:80px;
    }
    
    #blonde:hover{
        background:#424874;
    
    }
    #chatain:hover{
        background:#04724D;
    
    }
    #rousse:hover{
        background:#4F6272;
    
    }
    #noire:hover{
        background:#985F99;
    
    }
    #brune:hover{
      background:#DB5461;
    
    }
    
    
    #shut_tshirt2,
    #shut_size2,
    #shut_color_pantalon2,
    #shut_color_hair2{
        font-size:200%;
        color:white;
        display:none;
        
    }
    #no_shut_tshirt2,
    #no_shut_size2,
    #no_shut_color_pantalon2,
    #no_shut_color_hair2{
        font-size:200%;
        color:white;
       
    }
    
    #info_cloths_like_price{
        background:url("/static/img/parquet1.jpg");
        border:3px solid black;
        border-radius:50px;
    }
    
     @media screen and (min-width: 320px) and (max-width:375px) {
        #barre{
            display:none;
        }
    
     }
     @media screen and (min-width: 375px) and (max-width:425px) {
        #barre{
            display:none;
        }
    
     }
    
     @media screen and (min-width: 425px) and (max-width:602px) {
        #barre{
            display:none;
        }
    
     }
     @media screen and (min-width: 602px) and (max-width:725px) {
    
        #barre{
            display:none;
        }
     }
    
     @media screen and (min-width: 725px) and (max-width:851px) {
        #responsive_cont{
            display:none;
        }
        #barre{
            float:right;
            text-align:center;
       }
       #shut_color_hair,
       #no_shut_color_hair{
           text-align:center;
       }
       #no_shut_color_pantalon,
       #shut_color_pantalon{
           text-align:center;
    
       }
       #no_shut_tshirt,
       #shut_tshirt{
           text-align:center;
       }
       #no_shut_size,
       #shut_size{
           text-align:center;
       }
     }
     @media screen and (min-width: 851px) and (max-width:1000px) {
        #responsive_cont{
            display:none;
        }
        #barre{
            float:right;
            text-align:center;
       }
       #shut_color_hair,
       #no_shut_color_hair{
           text-align:center;
       }
       #no_shut_color_pantalon,
       #shut_color_pantalon{
           text-align:center;
    
       }
       #no_shut_tshirt,
       #shut_tshirt{
           text-align:center;
       }
       #no_shut_size,
       #shut_size{
           text-align:center;
       }
     }
    
     @media screen and (min-width: 1000px) and (max-width:1200px) {
        #responsive_cont{
            display:none;
        }
        #barre{
            float:right;
            text-align:center;
       }
       #shut_color_hair,
       #no_shut_color_hair{
           text-align:center;
       }
       #no_shut_color_pantalon,
       #shut_color_pantalon{
           text-align:center;
    
       }
       #no_shut_tshirt,
       #shut_tshirt{
           text-align:center;
       }
       #no_shut_size,
       #shut_size{
           text-align:center;
       }
     }
     @media screen and (min-width: 1200px) and (max-width:1400px) {
        #responsive_cont{
            display:none;
        }
        #barre{
            float:right;
            text-align:center;
       }
       #shut_color_hair,
       #no_shut_color_hair{
           text-align:center;
       }
       #no_shut_color_pantalon,
       #shut_color_pantalon{
           text-align:center;
    
       }
       #no_shut_tshirt,
       #shut_tshirt{
           text-align:center;
       }
       #no_shut_size,
       #shut_size{
           text-align:center;
       }
     }
     @media screen and (min-width: 1400px) and (max-width:1600px) {
        #responsive_cont{
            display:none;
        }
        #barre{
            float:right;
            text-align:center;
            margin-top:-100px;
            margin-right:5%;
       }
       #shut_color_hair,
       #no_shut_color_hair{
           text-align:center;
       }
       #no_shut_color_pantalon,
       #shut_color_pantalon{
           text-align:center;
    
       }
       #no_shut_tshirt,
       #shut_tshirt{
           text-align:center;
       }
       #no_shut_size,
       #shut_size{
           text-align:center;
       }
     }
    
    
    
    
    
    
    
    
    
    @media screen and (min-width: 0px) and (max-width:374px) {
        #fb{
            font-size:50px;
            width:250px;
        }
        #tw{
            font-size:50px;
            width:250px;
        }
        #sn{
            font-size:50px;
            width:250px;
        }    
        .mb-4{
            font-size:5vw;     
        }
    }
    
    @media screen and (min-width: 374px) and (max-width:800px) {
        #fb{
            font-size:100px;
            width:300px;
        }
        #tw{
            font-size:100px;
            width:300px;
        }
        #sn{
            font-size:100px;
            width:300px;
        }    
        .mb-4{
            font-size:5vw;
        }
    }
    
    
    @media screen and (min-width: 800px) and (max-width:1000px) {
        #fb{
            font-size:100px;
            width:300px;
        }
        #tw{
            font-size:100px;
            width:300px;
        }
        #sn{
            font-size:100px;
            width:300px;
        }    
        .mb-4{
            font-size:3vw;
            
        }
    }
    
    
    
    @media screen and (min-width: 1000px) and (max-width:1500px) {
        #fb{
            font-size:150px;
            width:300px;
        }
        #tw{
            font-size:150px;
            width:300px;
        }
        #sn{
            font-size:150px;
            width:300px;
        }    
        .mb-4{
            font-size:3vw;
            
        }
    }
    
    @media screen and (min-width: 1501px){
        #fb{
            font-size:150px;
            width:400px;
        }
        #tw{
            font-size:150px;
            width:400px;
        }
        #sn{
            font-size:150px;
            width:400px;
        }    
        .mb-4{
            font-size:3vw;
            
        }
    }
    
    
    @media screen and (min-width: 725px) and (max-width:851px) {
        #bottom{
            margin-top:350px;
        }
    }
    @media screen and (min-width: 851px) and (max-width:1000px) {
        #bottom{
            margin-top:350px;
        }
    }
    @media screen and (min-width: 1000px) and (max-width:1200px) {
        #bottom{
            margin-top:350px;
        }
    }
    @media screen and (min-width: 1200px) and (max-width:1400px) {
        #bottom{
            margin-top:350px;
        }
    }
    @media screen and (min-width: 1400px) and (max-width:1600px) {
        #bottom{
            margin-top:350px;
        }
    }
    
    
    
    @media screen and (min-width: 0px) and (max-width:374px) {
        #fb{
            font-size:50px;
            width:250px;
        }
        #tw{
            font-size:50px;
            width:250px;
        }
        #sn{
            font-size:50px;
            width:250px;
            border:1px soldi red;
        }    
        .mb-4{
            font-size:5vw;     
        }
        #h2{
          font-size:2vw;     
        }
    }
    
    @media screen and (min-width: 374px) and (max-width:800px) {
        #fb{
            font-size:100px;
            width:300px;
        }
        #tw{
            font-size:100px;
            width:300px;
        }
        #sn{
            font-size:100px;
            width:300px;
        }    
        .mb-4{
            font-size:5vw;
        }
    }
    
    
    @media screen and (min-width: 800px) and (max-width:1000px) {
        #fb{
            font-size:100px;
            width:300px;
        }
        #tw{
            font-size:100px;
            width:300px;
        }
        #sn{
            font-size:100px;
            width:300px;
        }    
        .mb-4{
            font-size:3vw;
            
        }
    }
    
    
    
    @media screen and (min-width: 1000px) and (max-width:1500px) {
        #fb{
            font-size:150px;
            width:300px;
        }
        #tw{
            font-size:150px;
            width:300px;
        }
        #sn{
            font-size:150px;
            width:300px;
        }    
        .mb-4{
            font-size:3vw;
            
        }
    }
    
    @media screen and (min-width: 1501px){
        #fb{
            font-size:150px;
            width:400px;
        }
        #tw{
            font-size:150px;
            width:400px;
        }
        #sn{
            font-size:150px;
            width:400px;
        }    
        .mb-4{
            font-size:3vw;
            
        }
    }
    
    
    #1, #2,#3,#4,#5,#6,#7,#8,#9,
    #10, #11,#22,#33,#44,#55,
    #66, #77, #88 { width: 0px; height: 0px;}
    input{
      border:1px solid black;
    }
    
    
    
    @media screen and (min-width: 768px) and (max-width:991px) {
      #shirt_tshirt {
        margin-left:10%;
      }
      #pantaloune {
        margin-left:-7.5%;
      }
    }
    
    
    @media screen and (min-width: 0px) and (max-width:767px) {
    
      #tshirt {
        
        margin-right:9%;
        margin-top:450%;
      }
      #pantaloune {
    
        margin-left:-16%;
        margin-top:127%;
      }
    }
    
    
    
    #clothes_section{
        width:101%;
        text-align:center;
    }
    
    
    #nos_info_habits{
        font-family:segoe print;
    }
    
    
    #infofo{
        text-align:left;
        padding-left:50px;
    }
    
    
    #shirt_tshirt{
        margin-left:82%;
        margin-top:-350px;
        width:150px;
        position:absolute;
    }
    #tshirt{
        background:url("/static/img/parquet1.jpg");
        border:3px solid black;
        border-radius:50px;
        font-family:segoe print;
    }
    
    #info_div_container{
        background:url("/static/img/parquet1.jpg");
        border:2px solid black;
        border-radius:50px;
    }
    
    #add1,
    #add2,
    #no_add1,
    #no_add2{
        border:3px solid black;
    }
    
    #draggable{
       width:0px; 
       height:0px;
    }
    
    
    h1{
        color:black;
        font-family:"Comic Sans MS, Comic Sans, cursive";
    }
    h2{
        color:black;
        font-style:justify;
    }
    h3{
        color:black;
    }
    #Color_hair{
        background:url("/static/img/parquet1.jpg");
        border:3px solid black;
        border-radius:50px;
    }
    
    
    
    i{
        color:white;
    }
    
    
    
    @media screen and (min-width: 0px) and (max-width:374px) {
        #fb{
            font-size:50px;
            width:300px;   
        }
        #tw{
            font-size:50px;
            width:300px;
        }
        #sn{
            font-size:50px;
            width:300px;
        }    
        .mb-4{
            font-size:5vw;
            
        }
    }
    
    @media screen and (min-width: 374px) and (max-width:800px) {
        #fb{
            font-size:100px;
            width:300px;
        }
        #tw{
            font-size:100px;
            width:300px;
        }
        #sn{
            font-size:100px;
            width:300px;
        }    
        .mb-4{
            font-size:5vw;
            
        }
    }
    
    
    @media screen and (min-width: 800px) and (max-width:1000px) {
        #fb{
            font-size:100px;
            width:300px;
        }
        #tw{
            font-size:100px;
            width:300px;
        }
        #sn{
            font-size:100px;
            width:300px;
        }    
        .mb-4{
            font-size:3vw;
            
        }
    }
    
    
    
    
    
    
    
    
    
    @media screen and (min-width: 1000px) and (max-width:1500px) {
        #fb{
            font-size:150px;
            width:300px;
        }
        #tw{
            font-size:150px;
            width:300px;
        }
        #sn{
            font-size:150px;
            width:300px;
        }    
        .mb-4{
            font-size:3vw;
            
        }
    }
    
